:root {
  /* Colores */
  --colorP: #EB268F;
  --colorS: #fff;
  --colorT: #867D7D;
  --colorC: #FFBADD;

  /* Tipografía */
  --tipoP: 'Kanit', sans-serif;
}

h1 {
  font-size: 3em;
  font-family: var(--tipoP);
  font-weight: 400;
}

h2 {
  font-size: 2em;
  font-weight: 400;
  font-family: var(--tipoP);
}

h3 {
  font-size: 1em;
  font-weight: 500;
  font-family: var(--tipoP);

}

p {
  font-size: 1em;
  font-weight: 400;
  font-family: var(--tipoP);

}

a {
  font-size: 1em;
  font-weight: 500;
  font-family: var(--tipoP);
}